.appBtn {
    background-color: transparent;
    font-size: 1rem;
    color: #F2F9FE;
    padding: 8px;
    border: 0;
    border-radius: 8px;
}

.appBtn:hover {
    background-color: #4A5567;
    cursor: pointer;
}

.appBtnActive {
    background-color: #4A5567;
}