.appSelect {
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #7E869E40;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 170px;
    background: transparent url("../../img/Expand_down.svg") no-repeat right 0.75rem center;
    background-size: 1.3rem;
}

.appSelect option {
    background-color: #242b3b;
}

.appSwitchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.appSwitch {
    background-color: #4E80EE;
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    position: relative;
}

.appSwitch > .appSwitchSlider {
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background-color: #F2F9FE;
    display: block;
    position: absolute;
    border: 2px solid #4E80EE;
    top: 0;
    left: 0;
}

.appSwitchChecked {
    background-color: #F6C768;
}

.appSwitchChecked > .appSwitchSlider {
    border: 2px solid #F6C768;
    top: 0;
    left: 25px;
}

.appSwitch > input {
    opacity: 0;
    width: 0;
    height: 0;
}

