.appNav {
    margin: -50px 40px 48px;
    background: linear-gradient(to bottom, #20293AF2, #20293A);
    padding: 32px 40px;
    border-radius: 12px;
    border: 1px solid #7E869E40;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.appNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.appNav li {
    display: inline-block;
    margin-right: 12px;
    font-weight: bold;
}

.appNavForm {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}

@media screen and (max-width: 767px) {
    .appNav {
        flex-direction: column;
    }

    .appNav ul {
        text-align: center;
    }

    .appNavForm {
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
}