body {
    background-color: #20293A;
}

* {
    color: #F2F9FE;
    font-family: "DM Sans", sans-serif;
}

.appContainer {
    max-width: 1280px;
    margin: auto
}

.appContainerBody {
    max-width: 1136px;
    margin: auto
}